@model IEnumerable<JeanStation.Models.ShoppingCartModel>

@{
    ViewBag.Title = "Index";
    var UserId="";
    var Total=0;
    var finalPrice=0;
}

<h2>Index</h2>

 <h2>购物车:</h2>
 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        @{ 
            UserId =item.UserID;
        }
        @*<td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
            @*@{
                Total += (item.UnitPrice*item.Amount);
            }*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        
    </tr>
    
}

</table>
<h3>总价：</h3> @ViewBag.TotalPrice
<h3>折后价：</h3>@ViewBag.FinalPrice<br/>
<a href="/Orders/UserInfomation?UserId=@UserId">结算</a>
